* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: #fff;
  min-height: 6000px;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 5%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid rgba(27, 5, 128, 0.608);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: rgb(210, 183, 30);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

/* Dropdown */
.dropdown {
  position: relative; /* penting agar dropdown muncul di bawah tombol */
  display: inline-block;
}

.dropdown-list {
  display: none; /* awalnya tersembunyi */
  position: absolute;
  top: 100%; /* muncul tepat di bawah tombol */
  left: 0;
  background-color: rgba(0, 0, 0, 0.595);
  border: 1px solid blue;
  border-radius: 5px;
  min-width: 150px;
  z-index: 999;
}

/* tampilkan dropdown saat di-hover */
.dropdown:hover .dropdown-list {
  display: flex;
  padding: 10px;
}

.navbar .navbar-nav a:hover {
  color: yellow;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgb(3, 41, 145);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-icon a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-icon a:hover {
  color: yellow;
}

#hamburger-icon {
  display: none;
  font-size: 2.5rem;
  cursor: pointer;
  padding: 0.5rem;
}

/*  */
.menu {
  padding: 6rem 5% 4rem;
}

.menu h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}
.menu p {
  text-align: center;
  max-width: 50rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}

.menu h2 span {
  color: yellow;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
  gap: 1rem;
}
.menu .row .menu-card img {
  height: 200px;
  width: 150px;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 0.5rem;
  margin-right: 10px;
}
.menu .row .menu-card .menu-card-title {
  width: 150px;
}
